.tabel{
    border: 1px solid black;
    cellpadding: 10px;
}

.tabelheader{
    background: aquamarine;
    margin: 0;
    /* padding: 5px; */
}

.modcontainer{
    margin-left: 50%;
}

.width{
    width: 50%;
}